# See https://docs.docker.com/engine/reference/builder/#dockerignore-file
.DS_Store
*.log
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

node_modules
.next
.idea
dist
coverage
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.swc
*.tsbuildinfo
.turbo
next-env.d.ts
.git
.github
.stylelintrc.json
.prettierrc
.eslintrc.json
.eslintignore
README.md
.gitignore
.gitlab-ci.yml
Jenkinsfile
Dockerfile
docker-compose.yml
.dockerignore
LICENSE
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
PULL_REQUEST_TEMPLATE.md
ISSUE_TEMPLATE.md
CODEOWNERS
.nvmrc
.npmrc
.yarnrc
package-lock.json
yarn.lock

# Coolify specific
.coolify
coolify.yml
/build/
!/build/package.json
!/build/pnpm-lock.yaml
